/**
 *
 *
 *
 */
#image-post > ul#images > li {
	display: inline;
	float: left;
}
#image-post > ul#images > li > a {
	display: block;
}
#image-post > ul#images > li > a > input[type=file]
{
	display: none;
}
#image-post > ul#images > li > a > img
{
	margin: 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#image-post > ul#images > li > a > img.cancel
{
	width: 25px;
	height: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: none;
	position: absolute;
	opacity: 0.7;
}
}
