#keyvisual {
	margin: 0px;
	padding: 0px;
	width: 100% ;
}
#keyvisual div {
	margin: 0px;
	padding: 0px;
	width: 100% ;
}
#keyvisual img {
	margin: 0px;
	padding: 0px;
	width: 100% ;
	height: auto;
}
